name: Simple Pipeline
on: [push]
jobs:
    hello:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3
            
            - name: Login to Dockerhub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME}}
                password: ${{ secrets.DOCKER_PASSWORD}}
            - name: Docker Build
              run: docker build -t ${{secrets.DOCKER_USERNAME}}/Simple_Pipeline:latest .
            
            - name: Docker Push
              run: docker push ${{secrets.DOCKER_USERNAME}}/Simple_Pipeline:latest