name: simple pipeline #Here you put the name of the job
on: push # Runs when code is pushed
jobs:
    hello:
        runs-on: ubuntu-latest # The CI-CD pipeline will run on Ubuntu
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3
            
            - name: Login to Dockerhub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME}}
                password: ${{ secrets.DOCKER_PASSWORD}}
            - name: Docker Build
              run: docker build -t ${{secrets.DOCKER_USERNAME}}/simple_pipeline:latest .
            
            - name: Docker Push
              run: docker push ${{secrets.DOCKER_USERNAME}}/simple_pipeline:latest

            - name: List
              run: ls -la